{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Crop Mapping Explorer</title>

  {% block header %}
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous"
  >
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous">
  </script>
  {% endblock header %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

</head>
<body class="d-flex flex-column vh-100">
  <!-- Header Navbar-->
  <header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Crop Mapping Explorer
      </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block empirical_selected %}{% endblock empirical_selected %}" href="{% url 'empirical:index' %}">Empirical Thresholding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block phenology_selected %}{% endblock phenology_selected %}" href="{% url 'phenology:index' %}">Phenology Explorer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>

  <main class="h-100">
  {% block main %}
    <div class="container-fluid h-100">
      <div class="row h-50">
        Hello 
      </div>

    </div>
  {% endblock main %}
  </main>

  {% comment %} <footer>

  </footer> {% endcomment %}

  {% block scripts %}{% endblock scripts %}
  
</body>
</html>